body{
text-align: center;
background-color:#e3fdfd;
font-family: 'Merriweather', serif;
font-size: 1.3rem;
color: #40514e;
margin: 0;
}
a{
  font-family: 'Merriweather', serif;
  text-decoration: none;
  color: #11999E;
  margin: 20px 20px;
}
a:hover{
  color: #eaf6f6;
}
.cloud-1{
  position: absolute;
  left: 6.25rem;
  top: 5rem;
  width: 18%
}
.cloud-2{
  position: absolute;
  top: 17.5rem;
  width: 15%;
  right: 6.25rem;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 6.25rem;
  color: #66bfbf;
  margin: 0 auto 0 auto;
  line-height: normal;
  font-weight: bold;
}
p{
  line-height: 2;
}
.hi{
  margin-top: 6%;
  position: absolute;
  top: 0px;
  left: 35%;

}
.kalash{
  margin-top: 30px;
}
.student{
  font-weight: normal;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #66bfbf;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}
hr{
  border: dotted;
  border-bottom: none;
  width: 7%;
  border-width: thick;
  color: #ebecf1;
  margin: 50px auto 100px auto;
}



.mountain{
  width: 100%;
  position: relative;
/*  bottom: 400px;*/
}

.first-layer{
  background-color: #cbf1f5;
  position: relative;
  padding-top: 100px;
}
.second-layer{
  background-color: #e3fdfd;
}
.third-layer{
  background-color: #e3fdfd;
}
.fourth-layer{
  background-color: #e3fdfd;
}
.fifth-layer{
  background-color: #e3fdfd;
  position: relative;
}
.intro{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}
.DK{
    margin-top: 50px;
}

.skill-row{
  width: 60%;
  line-height: 2;
  text-align: left;
  margin: 100px auto 170px auto;
}
.work-row{
  width: 60%;
  line-height: 2;
  text-align: left;
  margin: 100px auto 170px auto;
}
.software{
  margin-right: 30px;
  float: left;
}
.graphic{
  margin-right: 30px;
  float: left;
}
.web{
  margin-right: 30px;
  float: left;
}
.hwc{
  margin-right: 30px;
  float: left;
}
.isp{
  margin-right: 30px;
  float: left;
}
.nw{
  margin-right: 30px;
  float: left;
}
.freelancer{
  margin-right: 30px;
  float: left;
}
.contact{
  width: 60%;
  line-height: 2;
  margin: 100px auto 100px auto;
}
.me{
  margin-right: 40px;
  float: left;
}

.sixth-layer{
  padding: 50px 0 20px;
  background-color: #66bfbf;
  margin:inherit;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


.footer{
  padding-top: 30px;
  color: #11999E;
}

.copyright{
  font-size: 0.75rem;
  color: #EAF6F6;
  padding-top: 10px;
}
@media screen and (max-width:800px)  {
  .hi{


    margin-top: 3rem;
    left: 8rem;
  }
  .cloud-1{
    left: 0.6rem;
    top: 2rem;
  }
  .cloud-2{
    left: 19.5rem;
    top: 10rem;
  }
  .student{
    font-size: 1rem;
  }
  .software{
    float: none;
    max-width: 100%;
  }
  .graphic{
    float: none;
    max-width: 100%;
  }
  .web{
      float: none;
      max-width: 100%;
    }
   .hwc{
        float: none;
        max-width: 100%;
      }
   .isp{
          float: none;
          max-width: 100%;
        }
   .nw{
            float: none;
            max-width: 100%;
          }
   .freelancer{
              float: none;
              max-width: 100%;
            }
    .me{
        float: none;
        max-width: 100%;
        height: auto;
        }
        .DK{
          margin-top: 0px auto 10px auto;
          max-width: 100%;

        }

.skill-row{
    text-align: center;
    margin: 30px auto 45px auto;
  }
  .work-row{
    text-align: center;
    margin: 30px auto 45px auto;

  }
  .intro{
    margin: 20px auto 20px auto;
  }
  body{
    font-size: 0.9rem;
  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 2rem;
  }
  a{
    margin: 20px 10px;
  }
}
 .bg{
  background-color: #cbf1f5;
  color: #66bfbf;
}
.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  color: #66bfbf;
}
.nav{
  color: #cbf1f5;
}
#title{
  color: #cbf1f5;
}
